<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ConnexionAppSmartLocker" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-97G1U8O\SQLEXPRESS;Initial Catalog=AppSmartLocker;Integrated Security=SSPI" /><add name="AppSmartLockerEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-97G1U8O\SQLEXPRESS;initial catalog=AppSmartLocker;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="AppSmartLockerEntities1" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-97G1U8O\SQLEXPRESS;initial catalog=AppSmartLocker;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>